<tr data-id="{$coupon.id}">
    <td>
        {$coupon.code}
    </td>
    <td>
        {$coupon.value}
    </td>
    <td>
        {if $coupon.limit > 0}
            {$coupon.limit}
        {else}
            &#8734;
        {/if}
    </td>
    <td>
        {$coupon.used} 
    </td>
    <td>
        {(float)$coupon.order_total}
    </td>
    <td>
        {$coupon.expire_datetime}
    </td>
    <td>
        {$coupon.comment}
    </td>
    <td>
        <a class="inline edit-but" href="#"><i class="icon16 edit"></i></a>
        <a class="inline delete-but" href="#"><i class="icon16 delete"></i></a>
    </td>
</tr>