<ul class="menu-v with-icons">
    {foreach $categories as $category}
        <li>
            <label>
                {if !empty($category.childs)}
                    <i class="icon16 rarr overhanging collapse-handler-ajax" data-category-id="{$category.id}"></i>
                {/if}
                <i class="icon16 folder"></i> {$category.name|escape}
                <a class="add-coupons-products-button float-right" href="#" data-type="category"
                   data-id="{$category.id}" data-name="{$category.name|escape}"><i class="icon16 add"></i></a>
            </label>
        </li>
    {/foreach}
</ul>